charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
et_xmlfile==2.0.0
markdown-it-py==4.2.0
mdurl==0.1.2
numpy==2.4.5
openpyxl==3.1.5
pandas==3.0.3
pillow==12.2.0
Pygments==2.20.0
python-dateutil==2.9.0.post0
reportlab==4.5.1
rich==15.0.0
six==1.17.0
tabulate==0.10.0
tzdata==2026.2
xlsxwriter==3.2.9
